# Kiran you should really listen more, something about SQL maybe?
-  driver
-  authentication
-  
-

## Examples of this include
-  URL Data - open connection and open data e.g. urllib
-  pyodbc - connect and open
-  connect to a file on the disk then open

In [3]:
import pyodbc

In [7]:
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=192.168.101.141;DATABASE=AdventureWorks;UID=pythonlogin;PWD=python53')

In [8]:
cur = conn.cursor()

In [38]:
minprice = input('Enter a minimum price please >>> ')

Enter a minimum price please >>>  100

In [39]:
q = 'select top 10 name, productnumber, listprice from production.product where listprice > ?'

In [40]:
data = cur.execute(q, minprice)

In [41]:
for r in data:
    print(r)

('Adjustable Race', 'AR-5381', Decimal('653.0000'))
('ML Mountain Seat Assembly', 'SA-M237', Decimal('147.1400'))
('HL Mountain Seat Assembly', 'SA-M687', Decimal('196.9200'))
('LL Road Seat Assembly', 'SA-R127', Decimal('133.3400'))
('ML Road Seat Assembly', 'SA-R430', Decimal('147.1400'))
('HL Road Seat Assembly', 'SA-R522', Decimal('196.9200'))
('LL Touring Seat Assembly', 'SA-T467', Decimal('133.3400'))
('ML Touring Seat Assembly', 'SA-T612', Decimal('147.1400'))
('HL Touring Seat Assembly', 'SA-T872', Decimal('196.9200'))
('LL Fork', 'FK-1639', Decimal('148.2200'))

In [42]:
cur.execute('create table dbo.people (id int identity, name varchar(100), dob date)').commit()

In [43]:
import datetime

In [44]:
name = 'jack'
dob = datetime.datetime.strptime('1999-01-04', '%Y-%m-%d')

In [45]:
cur.execute('insert into dbo.people (name, dob) values(?,?)', name, dob).commit()