In [1]:
from urllib import request
from pprint import pprint
import json

In [2]:
url = 'https://www.reddit.com/r/wildhockey.json'

In [3]:
req = request.Request(url, headers={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36'})

In [4]:
with request.urlopen(req) as d:
        data = d.read().decode('utf-8')

In [5]:
data = json.loads(data)

In [7]:
len(data['data']['children'])

26

# How to create an empty dictionary with a key, and dynamically import all the stuff from a dictionary into it.

In [114]:
reddits = {'listings':[]}

In [115]:
for i in data['data']['children']:
    reddits['listings'].append(i['data']['title'])

TypeError: 'pyodbc.Cursor' object is not subscriptable

## there must be a better way

In [116]:
from collections import defaultdict

In [117]:
reddits = defaultdict(list)

In [118]:
for i in data['data']['children']:
    reddits['titles'].append(i['data']['title'])
    reddits['subreddits'].append(i['data']['subreddit'])

TypeError: 'pyodbc.Cursor' object is not subscriptable

In [119]:
reddits

defaultdict(list, {})

# Attempting to have a dynamic where clause, it's not working

In [229]:
import pyodbc

In [230]:
from collections import defaultdict

In [231]:
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=192.168.101.141;DATABASE=AdventureWorks;UID=pythonlogin;PWD=python53')

In [232]:
cur = conn.cursor()

In [251]:
orderid = [43667, 43670, 43685]

In [272]:
queries = []
for order in orderid:
        q = 'SELECT\
        soh.SalesOrderID\
        ,soh.OrderDate\
        ,soh.TotalDue\
        ,soh.CustomerID\
        ,p.Name AS prodname\
        ,p.Color AS prodcolor\
        ,sod.OrderQty As quantity FROM Production.Product AS p INNER JOIN sales.SalesOrderDetail AS sod ON sod.ProductID = p.ProductID INNER JOIN Sales.SalesOrderHeader As soh ON soh.SalesOrderID = sod.SalesOrderID WHERE sod.SalesOrderID = {}'.format(order)
        queries = cur.execute(q)

In [273]:
print(queries)

<pyodbc.Cursor object at 0x000001E8B6203468>

In [252]:
MyTable = defaultdict(list)

In [268]:
for i in queries:
    MyTable['SalesOrderID'].append(i[0:7])

In [269]:
from pprint import pprint

In [270]:
pprint(MyTable)

defaultdict(<class 'list'>,
            {'CustomerID': [30084, 30084, 30084, 30084],
             'OrderDate': [datetime.datetime(2005, 7, 1, 0, 0),
                           datetime.datetime(2005, 7, 1, 0, 0),
                           datetime.datetime(2005, 7, 1, 0, 0),
                           datetime.datetime(2005, 7, 1, 0, 0)],
             'ProductColour': ['Black', 'Red', 'Red', 'Red'],
             'ProductName': ['Road-650 Black, 58',
                             'Road-650 Red, 48',
                             'Road-450 Red, 58',
                             'LL Road Frame - Red, 44'],
             'SalesOrderID': [43685,
                              43685,
                              43685,
                              43685,
                              'c',
                              'u',
                              'r',
                              '.',
                              'e',
                              'x',
                              'e',
                              'c',
                              'u',
                              't',
                              'e',
                              '(',
                              'q',
                              ')',
                              (43685, datetime.datetime(2005, 7, 1, 0, 0), Decimal('3082.0191'), 30084, 'Road-650 Black, 58', 'Black', 3),
                              (43685, datetime.datetime(2005, 7, 1, 0, 0), Decimal('3082.0191'), 30084, 'Road-650 Red, 48', 'Red', 1),
                              (43685, datetime.datetime(2005, 7, 1, 0, 0), Decimal('3082.0191'), 30084, 'Road-450 Red, 58', 'Red', 1),
                              (43685, datetime.datetime(2005, 7, 1, 0, 0), Decimal('3082.0191'), 30084, 'LL Road Frame - Red, 44', 'Red', 1)],
             'TotalDue': [Decimal('3082.0191'),
                          Decimal('3082.0191'),
                          Decimal('3082.0191'),
                          Decimal('3082.0191')]})